$color-main: null;
$color-text: #333;
$color-webcenter: #e96259;

$color-vk: #45668e;
$color-fb: #3b5998;
$color-insta: #bc2a8d;
$color-yt: #bb0000;
$color-tw: #00aced;

$point-sm: 576px;
$point-md: 768px;
$point-lg: 992px;
$point-xl: 1200px;

$font-main: sans-serif;

$duration: .3s;

$path: '../';


// ----------------------------
// МИКСИНЫ ДЛЯ ТЕКУЩЕГО ПРОЕКТА
// ----------------------------

// ----------------------------


// -------------
// ОБЩИЕ МИКСИНЫ
// -------------

// Брейкпоинты
@mixin screen-xs($direct: 'min') {
	@media (if($direct == 'max', 'max-width: #{$point-xs} - 1', 'min-width: #{$point-xs}')) {
		@content;
	}
}

@mixin screen-sm($direct: 'min') {
	@media (if($direct == 'max', 'max-width: #{$point-sm} - 1', 'min-width: #{$point-sm}')) {
		@content;
	}
}

@mixin screen-md($direct: 'min') {
	@media (if($direct == 'max', 'max-width: #{$point-md} - 1', 'min-width: #{$point-md}')) {
		@content;
	}
}

@mixin screen-lg($direct: 'min') {
	@media (if($direct == 'max', 'max-width: #{$point-lg} - 1', 'min-width: #{$point-lg}')) {
		@content;
	}
}
// ===========

// Ретина
@mixin retina() {

	@media only screen and (-webkit-min-device-pixel-ratio: 1.5),
	only screen and (min-resolution: 144dpi) {
		@content;
	}
}

// Подключение изображений для ретины
@mixin bgi-retina($file, $type: 'png', $width: 100%, $height: $width) {
	background-image: url($file + '.' + $type);

	@include retina() {
		background-image: url($file + '@2x.' + $type);

		@if $width == cover or $width == contain {
			$height: null;
		}

		background-size: $width $height;
	}
}

// Стили плейсхолдера инпутов
@mixin input-placeholder() {

	&::-webkit-input-placeholder {
		@content;
	}

	&::-moz-placeholder {
		@content;
	}

	&:-moz-placeholder {
		@content;
	}

	&:-ms-input-placeholder {
		@content;
	}
}

// Сброс жёлтого выделения в хроме
@mixin input-autofill($font-color: black, $font-color-selected: $font-color, $bg-color: white) {

	&:-webkit-autofill {
		-webkit-box-shadow: inset 0 0 0 50px $bg-color; /* Цвет фона */
		-webkit-text-fill-color: $font-color; /* цвет текста */
		color: $font-color; /* цвет текста */

		&::selection {
			-webkit-text-fill-color: $font-color-selected; /* цвет текста */
			color: $font-color-selected; /* цвет текста */
		}
	}
}

// -------------